extends layout

block content

    if user
        h1= title

        p Welcome back, #{user.fullName}!

        a(href=`/membersOnly/newMessage/${user.id}`) Create new message

        
    else
        h1= title

        p Welcome to our site, please log in or sign up