
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class='container')
            div(class='nav')
                ul
                    li
                        a(href='/membersOnly/home') Home
                    li
                        a(href='/membersOnly/signup') Sign Up
                    li
                        if user
                            a(href='/membersOnly/logout') Log Out
                        else
                            a(href='/membersOnly/login') Log In
                    
            div(class='main')
                p Members Only Club
            block content