.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    padding-bottom: 30px;
}

.form * {
    margin-bottom: 5px;
}

.messageBox {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}